@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
@layer components {
  .centered-items {
    @apply flex items-center justify-center
  }
  .h-cursor-p{
    @apply hover:cursor-pointer
  }
}
body{
  background-image: url("./assets/bgImage5.png");
  
  
  
}