@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
@layer components {
  .centered-items {
    @apply flex items-center justify-center
  }
}
body{
  background: #101210;
}